<div class="container-fluid header-outter">
  <div class="header-outter container d-flex justify-content-center align-items-center">

    <div class="container under">

    </div>

    <div class="container under">
      <img src="https://i.imgur.com/oajngnE.png" alt="" class="header-banner img-fluid" />
    </div>

    <!-- aqui vai ficar o conteudo por cima da header -->

    <div class="container upper d-flex">

      <div class="container innerheader d-flex flex-column">

        <img src="https://i.imgur.com/jCoAljv.png" alt="" class="header-star align-self-start m-2" />

        <div class="header-inner-text d-flex flex-column justify-content-center align-items-center">
          <div class="text-box">
            <p>What is <br /> lorem ipsum?</p>
            <div class="trace mb-2"></div>
            <small>Suspendisse nec nibh vel augue lacinia commodo</small>
          </div>
        </div>

      </div>
      <div class="container innerheader d-flex justify-content-end align-items-start">
        <p class="containerLabel mt-4">What is Loren Ipsum?</p>
      </div>
    </div>
    <div class="arrowdown">
      <a href="#secao2" data-target="#secao2" id="arrowdown">
        <img src="https://i.imgur.com/xQ4zJBp.png">
      </a>
    </div>

  </div>
</div>
