<div id="secao2" class="container-fluid">
  <div class="container mainSection">
    <div class="miniContainer">
      <div class="text-box">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
      </div>
    </div>
    <div class="container mainSectionInner">
      <div class="mainSectionInner-item">
        <div class="mainSectionInner-left">
          <h2 class="section-bottom--title">Suspendisse nec nibh vel.</h2>
          <div class="section-bottom">
            <button class="section-bottom--button">
              Lorem ipsum is simply ►
            </button>
          </div>
        </div>
        <div class="mainSectionInner-right">
          <img src="https://i.imgur.com/jepZXoU.png" class="thumbimg" />
        </div>
      </div>
    </div>
  </div>
</div>
