* {
  padding: 0px;
  box-sizing: border-box;
}

.mainSection {
  height: 450px;
  display: flex;
  justify-content: end;
  position: relative;
}

.miniContainer {
  width: 100%;
  max-width: 800px;
  height: 400px;
  background-color: #536068;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  padding-right: 100px;
}

.text-box {
  max-width: 600px;
  font-size: 15px;
}

.mainSectionInner {
  position: absolute;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: end;
}

.mainSectionInner-item {
  width: 100%;
  max-width: 900px;
  height: 150px;
  display: flex;
  background-color: #2D343A;
}

.mainSectionInner-left {
  flex: 3;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-left: 20px;
}

.mainSectionInner-right {
  flex: 2;
}

.thumbimg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section-bottom--title {
  color: #FFF;
}

.section-bottom {
  text-align: left;
  padding-left: 35px;
}

.section-bottom--button {
  padding: 8px;
  border: 0px;
}


@media(max-width:425px) {
  .mainSection {
    justify-content: center;
    flex-flow: column;
    height: auto;
  }

  .miniContainer {
    height: auto;
    padding: 0px;
  }

  .text-box {
    padding: 20px;
    font-size: 15px;
  }

  .mainSectionInner {
    position: relative;
    align-items: center;
    height: auto;
  }

  .mainSectionInner-item {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .mainSectionInner-left {
    flex: 1;
    padding-right: 0px;
    padding: 15px;
  }

  .mainSectionInner-right {
    flex: 1;
  }

  .section-bottom {
    width:100%;
    padding-left:0px;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .section-bottom--title{
    font-size:20px;
    text-align:center;
  }
  .section-bottom--button{
    font-size:13px;
  }

}
