<div class="container-fluid section4 position-relative d-flex flex-column justify-content-center align-items-center">

  <div class="top container-fluid">

  </div>
  <div class="bottom container-fluid">

  </div>

  <div class="inner container pt-5 position-absolute d-flex flex-column align-items-center">

    <div class="moreinfo d-flex">
      <div class="moreinfo-left p-5 d-flex flex-column justify-content-between">
        <div class="text-box">
          Lorem in <strong>AMET <br />
            DOLOR SIT A</strong> <br />
          pulvinar sed
        </div>
        <div>
          <a href="#" class="knowMore">
            Quero saber mais ►
          </a>
        </div>
      </div>
      <div class="moreinfo-right">
        <img alt="" class="moreinfo--img" src="../../../assets/images/photo3.png" />
      </div>
    </div>

    <div class="text-box-bottom d-flex flex-column justify-content-center align-items-center">
      <img alt="" class="bottom-star " src="../../../assets/images/star.png">
      <div class="text-area">
        Aenean quis dignissim velit. Aliquam laoreet aliquet lacinia. Nulla id mauris sodales, hendreirit justo nec
        dictum nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      </div>
    </div>

  </div>
</div>
