<div class="container mb-4">
  <div class="container-square mt-4"></div>

  <div class="container section3 d-flex">

    <div class="form-text p-3 pr-4 d-flex flex-column justify-content-center align-items-end">
      <div class="text-box text-center">
        <h4>LOREM IPSUM</h4>
        <h1>+500</h1>
        <h4>DOLOR SIT AMET</h4>
      </div>
    </div>

    <div class="form-section">
      <form method="post" [formGroup]="formularioDeUsuario" (ngSubmit)="enviarDados()" novalidate>
        <div class="row g-3">
          <div class="col px-2">

            <input type="text" class="form-control p-2" formControlName="nome" required placeholder="Nome completo"
            [ngClass]="{
              'is-invalid' : formularioDeUsuario.controls['nome'].touched && formularioDeUsuario.controls['nome'].invalid,
              'is-valid' : formularioDeUsuario.controls['nome'].touched && formularioDeUsuario.controls['nome'].valid
          }"
            />

          </div>
          <div class="col px-2">
            <input type="email" 
            class="form-control p-2" 
            formControlName="email" 
            placeholder="E-mail"
            [ngClass]="{
              'is-invalid' : formularioDeUsuario.controls['email'].touched && formularioDeUsuario.controls['email'].invalid,
              'is-valid' : formularioDeUsuario.controls['email'].touched && formularioDeUsuario.controls['email'].valid
          }"
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4 px-2">

            <input type="text" class="form-control p-2" placeholder="CEP" formControlName="cep" #cep=""
              (blur)="consultaCep(cep.value)"
              maxlength="8"
              [ngClass]="{
                'is-invalid' : formularioDeUsuario.controls['cep'].touched && formularioDeUsuario.controls['cep'].invalid,
                'is-valid' : formularioDeUsuario.controls['cep'].touched && formularioDeUsuario.controls['cep'].valid
            }"
            />
            <small class="invalid-tooltip p-2 text-center">Insira um CEP válido com números</small>
          </div>
          <div class="col px-2">

            <input 
            [ngClass]="{
              'is-invalid' : formularioDeUsuario.controls['endereco'].touched && formularioDeUsuario.controls['endereco'].invalid,
              'is-valid' : formularioDeUsuario.controls['endereco'].touched && formularioDeUsuario.controls['endereco'].valid
          }"
            type="text" class="form-control p-2" formControlName="endereco" placeholder="Endereço"
              name="endereco" />
            
          </div>
        </div>
        <div class="row mt-3">
          <div class="col px-2">
            <input type="text" class="form-control p-2" 
            [ngClass]="{
              'is-invalid' : formularioDeUsuario.controls['cidade'].touched && formularioDeUsuario.controls['cidade'].invalid,
              'is-valid' : formularioDeUsuario.controls['cidade'].touched && formularioDeUsuario.controls['cidade'].valid
          }"
            formControlName="cidade" placeholder="Cidade" />
            
          </div>
          <div class="col-3 px-2">
            <input type="text"
            maxlength="2" 
            [ngClass]="{
              'is-invalid' : formularioDeUsuario.controls['estado'].touched && formularioDeUsuario.controls['estado'].invalid,
              'is-valid' : formularioDeUsuario.controls['estado'].touched && formularioDeUsuario.controls['estado'].valid
          }"
            class="form-control p-2" formControlName="estado" placeholder="UF" />
            <small class="invalid-tooltip p-2 text-center">Insira um UF válido. <strong>Ex: SP</strong></small>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-3 px-2">
            <input type="text" class="form-control p-2" 
            [ngClass]="{
              'is-invalid' : formularioDeUsuario.controls['enderecoNumero'].touched && formularioDeUsuario.controls['enderecoNumero'].invalid,
              'is-valid' : formularioDeUsuario.controls['enderecoNumero'].touched && formularioDeUsuario.controls['enderecoNumero'].valid
          }"
            formControlName="enderecoNumero" placeholder="Nº" />
          
          </div>
          <div class="col-5 px-2">
            <input type="text" class="form-control p-2" formControlName="complemento" placeholder="Complemento" />

          </div>
        </div>
        <div class="row mt-3 px-2">
          <textarea style="resize:none;" class="form-control p-2" rows="3" formControlName="mensagem"
            placeholder="Mensagem"></textarea>
        </div>
        <div class="row mt-3 px-2 justify-content-end">
          <button type="submit" [disabled]="!formularioDeUsuario.valid" class="btn btn-dark py-2 px-4">
            Enviar
          </button>
        </div>
        <div #aviso class="row mt-1 rounded aviso d-flex justify-content-center"
          style="background-color:rgb(64, 235, 64);color:white;">
          As suas informações foram enviadas!
        </div>
      </form>
    </div>
  </div>
</div>
